repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
      - id: end-of-file-fixer
        name: end-of-file-fixer
      - id: double-quote-string-fixer
        name: double-quote-string-fixer
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        name: add-trailing-comma
        args:
          - --py36-plus
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.17.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-print
          - flake8-implicit-str-concat
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
        args:
          - --filter-files
        files: \.py$
  - repo: local
    hooks:
      - id: update-translations
        name: update-translations
        entry: python scripts/update_translations.py
        language: python
        additional_dependencies:
          - mdpo
        files: (README\.md|locale)
  - repo: https://github.com/mondeja/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: dev-extras-required
  - repo: https://github.com/mondeja/pre-commit-po-hooks
    rev: v1.6.0
    hooks:
      - id: obsolete-messages
      - id: untranslated-messages
      - id: remove-metadata
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.1
    hooks:
      - id: yamllint
        files: .+\.(yml|yaml)
        args:
          - -c
          - .yamllint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.1.3
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-readme
        files: ^README.md
